{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} - Modifica Progetto{% endblock head_title %}

{% block content %}

  <div class="row justify-content-center">
    <div class="col-5">
      <div class="text-center">
        <h1>Modifica progetto</h1>
        <p class="fs-5">Inserisci i nuovi dati del progetto</p>
      </div>
      <form method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-grid mt-4">
          <input type="submit" class="btn btn-primary" value="Aggiorna">
        </div>
      </form>
    </div>
  </div>

{% endblock content %}