{% extends 'base.html' %}

{% block head_title %}{{ block.super }} - {{bimmodel.name}}{% endblock head_title %}

{% block navbar %}
<a class="btn btn-outline-primary" href="{% url 'manage_project' pk=bimmodel.bim_project.pk %}">← Torna al progetto</a>
{% endblock navbar %}

{% block content %}
<h1 class="mb-5 text-center">{{bimmodel.name}}</h1>
<div class="row  mx-auto">
  <div class="col-md-3">
    <h4>Dati modello</h4> 
    <h6>nome</h6>
    <p>{{bimmodel.name}}</p>
    <h6>descrizione</h6>
    <p>{{bimmodel.description}}</p>
    <h6>disciplina</h6>
    <p>{{bimmodel.discipline}}</p>
    <h6>software di authoring</h6>
    <p>{{bimmodel.authoringSoftware}}</p>
    <h6>scheda LOD</h6>
    <p>{{bimmodel.lodReference}}</p>
    <h6>progettista</h6>
    <p>{{bimmodel.designer}}</p>
    <h6>bim manager</h6>
    <p>{{bimmodel.bim_manager}}</p>
    <h6>bim coordinator</h6>
    <p>{{bimmodel.bim_coordinator}}</p>
    <h6>bim specialist</h6>
    <p>{{bimmodel.bim_specialist}}</p>
    <h6>progetto</h6>
    <p>{{bimmodel.bim_project.name}}</p>
    <hr>
    <div class="d-grid gap-2">
      <a href="{% url 'update_model' pk=bimmodel.pk %}" class="btn btn-primary btn-lg mb-2">Aggiorna dati</a>
      <a href="{% url 'delete_model' pk=bimmodel.pk %}" class="btn btn-danger btn-lg">Cancella modello</a>
    </div>
    <hr>
    <div class="d-grid gap-2">
      <a href="{% url 'export_data' pk=bimmodel.pk export_type='model_info_sheets' %}" class="btn btn-outline-secondary btn-lg">Esporta schede informative</a>
    </div>
  </div>
  <div class="col-md-9">    
    <h4>Schede informative - Coordinamento</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Descrizione</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for sheet in info_sheets_coordination %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td><a href="{% url 'manage_info_sheet' pk=sheet.pk %}">{{ sheet.name }}</a></td>
          <td>{{ sheet.description }}</td>
          <td><a href="{% url 'update_info_sheet' pk=sheet.pk %}" class="btn btn-outline-primary btn-sm">Modifica</a></td>
          <td><a href="{% url 'delete_info_sheet' pk=sheet.pk %}" class="btn btn-outline-danger btn-sm">Cancella</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="d-flex gap-2 justify-content-end">
      <a
        {% if not bimmodel.default_coordination %}
        href="{% url 'default_info_sheet' pk=bimmodel.pk sheet_type='coordination' %}"
        class="btn btn-outline-primary btn-lg"
        {% else %}
        href="#"
        class="btn btn-outline-primary btn-lg disabled"
        {% endif %}
      >+ Default</a>
      <a href="{% url 'create_info_sheet' pk=bimmodel.pk sheet_type='coordination' %}" class="btn btn-outline-primary btn-lg">+ Aggiungi scheda</a>
    </div>
    <h4>Schede informative - Verifica</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Descrizione</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for sheet in info_sheets_validation %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td><a href="{% url 'manage_info_sheet' pk=sheet.pk %}">{{ sheet.name }}</a></td>
          <td>{{ sheet.description }}</td>
          <td><a href="{% url 'update_info_sheet' pk=sheet.pk %}" class="btn btn-outline-primary btn-sm">Modifica</a></td>
          <td><a href="{% url 'delete_info_sheet' pk=sheet.pk %}" class="btn btn-outline-danger btn-sm">Cancella</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="d-flex gap-2 justify-content-end">
      <a
        {% if not bimmodel.default_validation %} 
        href="{% url 'default_info_sheet' pk=bimmodel.pk sheet_type='validation' %}" 
        class="btn btn-outline-primary btn-lg"
        {% else %}
        href="#"
        class="btn btn-outline-primary btn-lg disabled"
        {% endif %}
      >+ Default</a>
      <a href="{% url 'create_info_sheet' pk=bimmodel.pk sheet_type='validation' %}" class="btn btn-outline-primary btn-lg">+ Aggiungi scheda</a>
    </div>

  </div>
</div>

{% endblock content %}