{% extends 'base.html' %}

{% block head_title %}{{ block.super }} - {{report.name}}{% endblock head_title %}

{% block navbar %}
<a class="btn btn-outline-primary" href="{% url 'manage_info_sheet' pk=report.info_sheet.pk %}">← Torna alla Scheda Informativa</a>
{% endblock navbar %}

{% block content %}

<h1 class="mb-5 text-center">{{report.name}}</h1>
<div class="row  mx-auto">
  <div class="col-md-3">
    <h4>Dati report</h4>    
    <h6>nome</h6>
    <p>{{report.name}}</p>    
    <h6>descrizione</h6>
    <p>{{report.description}}</p>
    <h6>scheda informativa</h6>
    <p>{{report.info_sheet.name}}</p>
    {% if request.user.is_staff %}
    <hr>
    <div class="d-grid gap-2">
      <a href="#" class="btn btn-primary btn-lg mb-2">Aggiorna dati</a>
      <a href="{% url 'delete_report' pk=report.pk %}" class="btn btn-danger btn-lg">Cancella report</a>
    </div>   
    {% endif %}
    <hr>
    <div class="d-grid gap-2">
      <a href="#" class="btn btn-outline-secondary btn-lg">Esporta report</a>
    </div>
  </div>
  <div class="col-md-9">
    {% if report.info_sheet.sheet_type == 'coordination' %}
    <h4>Test interferenze</h4>    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Data</th>
          <th scope="col">Commenti</th>
          <th scope="col">Nuove</th>
          <th scope="col">Attive</th>
          <th scope="col">Revisionate</th>
          <th scope="col">Approvate</th>
          <th scope="col">Risolte</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for test in tests %}
        <tr>
          <td>{{test.date|date:"Y/m/d"}}</td>
          <td>{{test.comments}}</td>
          <td>{{test.clash_new}}</td>
          <td>{{test.clash_active}}</td>
          <td>{{test.clash_reviewed}}</td>
          <td>{{test.clash_approved}}</td>
          <td>{{test.clash_resolved}}</td>
          <td><a href="{% url 'delete_clash_test' pk=test.pk %}" class="btn btn-outline-danger btn-sm">Cancella</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="d-flex gap-2 justify-content-end">
      <a href="#" class="btn btn-outline-primary btn-lg">+ Importa test</a>
      <a href="{% url 'add_clash_test' pk=report.pk %}" class="btn btn-outline-primary btn-lg">+ Nuovo test</a>    
    </div>
    {% elif report.info_sheet.sheet_type == 'validation' %}
    <h4>Test di verifica</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Data</th>
          <th scope="col">Commenti</th>
          <th scope="col">Specifica</th>
          <th scope="col">Difformità</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for test in tests %}
        <tr>
          <td>{{test.date|date:"Y/m/d"}}</td>
          <td>{{test.comments}}</td>
          <td>{{test.specification}}</td>
          <td>{{test.issues}}</td>
          <td><a href="{% url 'delete_validation_test' pk=test.pk %}" class="btn btn-outline-danger btn-sm">Cancella</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="d-flex gap-2 justify-content-end">
      <a href="#" class="btn btn-outline-primary btn-lg">+ Importa test</a>
      <a href="{% url 'add_validation_test' pk=report.pk %}" class="btn btn-outline-primary btn-lg">+ Nuovo test</a>
    </div>
    {% endif %}
  </div>
</div>

{% endblock content %}