{% extends 'base.html' %}

{% block head_title %}{{ block.super }} - {{infosheet.name}}{% endblock head_title %}

{% block navbar %}
<a class="btn btn-outline-primary" href="{% url 'manage_bim_model' pk=infosheet.bim_model.pk %}">← Torna al modello BIM</a>
{% endblock navbar %}

{% block content %}

<h1 class="mb-5 text-center">Scheda {{infosheet.name}}</h1>
<div class="row  mx-auto">
  <div class="col-md-3">
    <h4>Dati scheda</h4>  
    <h6>tipo scheda</h6>
    <p>{{infosheet.sheet_type}}</p>
    <h6>nome</h6>
    <p>{{infosheet.name}}</p>    
    <h6>descrizione</h6>
    <p>{{infosheet.description}}</p>
    <h6>modello BIM</h6>
    <p>{{infosheet.bim_model}}</p>
    <h6>progetto</h6>
    <p>{{infosheet.bim_model.bim_project.name}}</p>
    <hr>
    <div class="d-grid gap-2">
      <a href="{% url 'update_info_sheet' pk=infosheet.pk %}" class="btn btn-primary btn-lg mb-2">Aggiorna dati</a>
      <a href="{% url 'delete_info_sheet' pk=infosheet.pk %}" class="btn btn-danger btn-lg">Cancella scheda</a>
    </div>
  </div>
  <div class="col-md-9">
    {% if infosheet.sheet_type == 'coordination' %}
    <h4>Report delle interferenze</h4>
    {% elif infosheet.sheet_type == 'validation' %}
    <h4>Report di verifica</h4>
    {% endif %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for report in infosheet.reports.all %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>
            <a href="{% url 'manage_report' pk=report.pk %}">{{ report.name }}</a>
          </td>
          <td class="d-flex gap-2 justify-content-end">
            <a href="{% url 'update_report' pk=report.pk %}" class="btn btn-outline-primary btn-sm">Modifica</a>
            <a href="{% url 'delete_report' pk=report.pk %}" class="btn btn-outline-danger btn-sm">Cancella</a>
          </td>
        </tr>
        {% endfor %}        
      </tbody>
    </table>
    <div class="d-flex gap-2 justify-content-end">
      <a href="{% url 'create_report' pk=infosheet.pk %}" class="btn btn-outline-primary btn-lg">+ Aggiungi Report</a>
    </div>
  </div>
</div>

{% endblock content %}