{% extends 'base.html' %}

{% block head_title %}{{ block.super }} - {{bim_model.name}}{% endblock head_title %}

{% block content %}

<h1 class="mb-5 text-center">{{bim_model.name}}</h1>
<div class="row  mx-auto">
  <div class="col-md-3">
    <h4>Dati modello</h4>    
    <h6>nome</h6>
    <p>{{bim_model.name}}</p>    
    <h6>descrizione</h6>
    <p>{{bim_model.description}}</p>
    <h6>progettista</h6>
    <p>{{bim_model.designer}}</p>
    <h6>progetto</h6>
    <p>{{bim_model.project.name}}</p>
    <hr>

    <div class="d-grid gap-2">
      <a href="#" class="btn btn-primary btn-lg mb-2">Aggiorna dati</a>    
    </div>

  </div>
  <div class="col-md-9">    
    <h4>Schede informative - Coordinamento</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Descrizione</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">01</th>
          <td>xxxx</td>
          <td>xxxx</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex gap-2 justify-content-end">
      <a href="#" class="btn btn-outline-primary btn-lg">+ Aggiungi scheda</a>
    </div>
    <h4>Schede informative - Verifica</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Descrizione</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">01</th>
          <td>xxxx</td>
          <td>xxxx</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex gap-2 justify-content-end">
      <a href="#" class="btn btn-outline-primary btn-lg">+ Aggiungi scheda</a>
    </div>

  </div>
</div>

{% endblock content %}