{% extends 'base.html' %}

{% block head_title %}{{ block.super }} - {{bim_model.name}}{% endblock head_title %}

{% block navbar %}
<a class="btn btn-outline-primary" href="{% url 'manage_project' pk=bim_model.project.pk %}">← Torna al progetto</a>
{% endblock navbar %}

{% block content %}

<h1 class="mb-5 text-center">{{bim_model.name}}</h1>
<div class="row  mx-auto">
  <div class="col-md-3">
    <h4>Dati modello</h4>    
    <h6>nome</h6>
    <p>{{bim_model.name}}</p>    
    <h6>progettista</h6>
    <p>{{bim_model.designer}}</p>
    <h6>progetto</h6>
    <p>{{bim_model.project.name}}</p>
    {% if request.user.is_staff %}
    <hr>
    <div class="d-grid gap-2">
      <a href="{% url 'update_model' pk=bim_model.pk %}" class="btn btn-primary btn-lg mb-2">Aggiorna dati</a>
      <a href="{% url 'delete_model' pk=bim_model.pk %}" class="btn btn-danger btn-lg">Cancella modello</a>
    </div>
    {% endif %}
    <hr>
    <div class="d-grid gap-2">
      <a href="#" class="btn btn-outline-secondary btn-lg">Esporta schede informative</a>
    </div>
  </div>
  <div class="col-md-9">    
    <h4>Schede informative - Coordinamento</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Descrizione</th>
        </tr>
      </thead>
      <tbody>
        {% for sheet in info_sheets_coordination %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td><a href="{% url 'manage_info_sheet' pk=sheet.pk %}">{{ sheet.name }}</a></td>
          <td>{{ sheet.description }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="d-flex gap-2 justify-content-end">
      <a href="#" class="btn btn-outline-primary btn-lg">+ Default</a>
      <a href="{% url 'add_info_sheet' pk=bim_model.pk sheet_type='coordination' %}" class="btn btn-outline-primary btn-lg">+ Aggiungi scheda</a>
    </div>
    <h4>Schede informative - Verifica</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Descrizione</th>
        </tr>
      </thead>
      <tbody>
        {% for sheet in info_sheets_validation %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td><a href="{% url 'manage_info_sheet' pk=sheet.pk %}">{{ sheet.name }}</a></td>
          <td>{{ sheet.description }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="d-flex gap-2 justify-content-end">
      <a href="#" class="btn btn-outline-primary btn-lg">+ Default</a>
      <a href="{% url 'add_info_sheet' pk=bim_model.pk sheet_type='validation' %}" class="btn btn-outline-primary btn-lg">+ Aggiungi scheda</a>
    </div>

  </div>
</div>

{% endblock content %}