{% extends 'base.html' %}

{% block head_title %}{{ block.super }} - {{project.name}}{% endblock head_title %}

{% block navbar %}
<a class="btn btn-outline-primary" href="/">← Torna alla lista progetti</a>
{% endblock navbar %}

{% block content %}

<h1 class="mb-5 text-center">{{project.name}}</h1>
<div class="row  mx-auto">
  <div class="col-md-3">
    <h4>Dati progetto</h4>    
    <h6>nome</h6>
    <p>{{project.name}}</p>    
    <h6>descrizione</h6>
    <p>{{project.description}}</p>
    {% if request.user.is_staff %}
    <hr>
    <div class="d-grid gap-2">
      <a href="{% url 'update_project' pk=project.pk %}" class="btn btn-primary btn-lg mb-2">Aggiorna dati</a>
      <a href="{% url 'delete_project' pk=project.pk %}" class="btn btn-danger btn-lg">Cancella Progetto</a>
    </div>   
    {% endif %}
    <hr>
    <div class="d-grid gap-2">
      <a href="#" class="btn btn-outline-secondary btn-lg">Esporta registro modelli</a>
      <a href="#" class="btn btn-outline-secondary btn-lg">Esporta tutte le schede informative</a>
    </div>   
  </div>
  <div class="col-md-9">    
    <h4>Modelli di progetto</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Disciplina</th>
          <th scope="col">Progettista</th>
        </tr>
      </thead>
      <tbody>
        {% for model in bim_models %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td><a href="{% url 'manage_bim_model' pk=model.pk%}">{{ model.name }}</a></td>
          <td>{{ model.discipline }}</td>
          <td>{{ model.designer }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="d-flex gap-2 justify-content-end">
      <a href="#" class="btn btn-outline-primary btn-lg">+ Importa registro modelli</a>
      <a href="{% url 'add_bim_model' pk=project.pk %}" class="btn btn-outline-primary btn-lg">+ Aggiungi modello</a>
    </div>
  </div>
</div>

{% endblock content %}