{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} - Aggiungi report{% endblock head_title %}

{% block content %}

  <div class="row justify-content-center">
    <div class="col-5">
      <div class="text-center">
        <h1>Nuovo report</h1>
        <p class="fs-5">Aggiungi report alla scheda informativa {{ info_sheet.name}}</p>
      </div>
      <form method="POST" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-grid mt-4">
          <input type="submit" class="btn btn-primary" value="Aggiungi report">
        </div>
      </form>
    </div>
  </div>

{% endblock content %}