<section id="schede-lod">
  <h4>Schede LOD</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrizione</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for lod_reference in lod_list.all %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{ lod_reference.name }}</td>
        <td>{{ lod_reference.description }}</td>
        <td>
          <div class="d-flex gap-2 justify-content-end">
            <a href="{% url 'update_reference' pk=lod_reference.pk %}" class="btn btn-outline-primary btn-sm">Modifica</a>
            <a href="{% url 'delete_reference' pk=lod_reference.pk %}" class="btn btn-outline-danger btn-sm">Cancella</a>
          </div>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4" class="text-muted">Nessuna scheda lod presente.</td>
      </tr>      
      {% endfor %}
    </tbody>
  </table>
  <div class="d-flex gap-2 justify-content-end">
    <a href="{% url 'create_reference' %}" class="btn btn-outline-primary btn">+ Aggiungi scheda LOD</a>
  </div>
  <hr>
</section>