<section id="software">
  <h4>Software di Authoring</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Versione</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for software in software_list.all %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{ software.name }}</td>
        <td>{{ software.description }}</td>
        <td >
          <div class="d-flex gap-2 justify-content-end">
            <a href="{% url 'update_software' pk=software.pk %}" class="btn btn-outline-primary btn-sm">Modifica</a>
            <a href="{% url 'delete_software' pk=software.pk %}" class="btn btn-outline-danger btn-sm">Cancella</a>
          </div>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4" class="text-muted">Nessun software presente.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="d-flex gap-2 justify-content-end">
    <a href="{% url 'create_software' %}" class="btn btn-outline-primary btn">+ Aggiungi software</a>
  </div>
  <hr>
</section>