<section id="specifiche">
  <h4>Specifiche coordinamento/verifica</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrizione</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for specification in specifications_list.all %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{ specification.name }}</td>
        <td>{{ specification.description }}</td>
        <td class="d-flex gap-2 justify-content-end">
          <a href="{% url 'update_specification' pk=specification.pk %}" class="btn btn-outline-primary btn-sm">Modifica</a>
          <a href="{% url 'delete_specification' pk=specification.pk %}" class="btn btn-outline-danger btn-sm">Cancella</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4" class="text-muted">Nessuna specifica presente.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="d-flex gap-2 justify-content-end">
    <a href="{% url 'create_specification' %}" class="btn btn-outline-primary btn">+ Aggiungi specifica</a>
  </div>
  <hr>
</section>