{% extends 'base.html' %}

{% block head_title %}{{ block.super }} - Impostazioni Organizzazione{% endblock head_title %}

{% block content %}

<div class="container text-center">
  <h1>Impostazioni Organizzazione</h1>
  <hr>
  <h4>Fasi di progetto</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrizione</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for phase in project_phases.all %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{ phase.name }}</td>
        <td>{{ phase.description }}</td>
        <td><a href="{% url 'update_phase' pk=phase.pk %}" class="btn btn-outline-primary btn-sm">Modifica</a></td>
        <td><a href="{% url 'delete_phase' pk=phase.pk %}" class="btn btn-outline-danger btn-sm">Cancella</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="d-flex gap-2 justify-content-end">
    <a href="{% url 'create_phase' %}" class="btn btn-outline-primary btn">+ Aggiungi fase</a>
  </div>
  <hr>
  <h4>Discipline di progetto</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrizione</th>
        <th scope="col">Codice</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for discipline in disciplines.all %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{ discipline.name }}</td>
        <td>{{ discipline.description }}</td>
        <td>{{ discipline.code }}</td>
        <td><a href="#" class="btn btn-outline-primary btn-sm">Modifica</a></td>
        <td><a href="#" class="btn btn-outline-danger btn-sm">Cancella</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="d-flex gap-2 justify-content-end">
    <a href="#" class="btn btn-outline-primary btn">+ Aggiungi disciplina</a>
  </div>
  <hr>
  <h4>Software di Authoring</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Versione</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for software in software_list.all %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{ software.name }}</td>
        <td>{{ software.version }}</td>
        <td><a href="#" class="btn btn-outline-primary btn-sm">Modifica</a></td>
        <td><a href="#" class="btn btn-outline-danger btn-sm">Cancella</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="d-flex gap-2 justify-content-end">
    <a href="#" class="btn btn-outline-primary btn">+ Aggiungi software</a>
  </div>
  <hr>
  <h4>Schede LOD</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrizione</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for lod_reference in lod_list.all %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{ lod_reference.name }}</td>
        <td>{{ lod_reference.description }}</td>
        <td><a href="#" class="btn btn-outline-primary btn-sm">Modifica</a></td>
        <td><a href="#" class="btn btn-outline-danger btn-sm">Cancella</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="d-flex gap-2 justify-content-end">
    <a href="#" class="btn btn-outline-primary btn">+ Aggiungi scheda LOD</a>
  </div>
  <hr>
  <h4>Specifiche coordinamento/verifica</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrizione</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for specification in specifications_list.all %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{ specification.name }}</td>
        <td>{{ specification.description }}</td>
        <td><a href="#" class="btn btn-outline-primary btn-sm">Modifica</a></td>
        <td><a href="#" class="btn btn-outline-danger btn-sm">Cancella</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="d-flex gap-2 justify-content-end">
    <a href="#" class="btn btn-outline-primary btn">+ Aggiungi specifica</a>
  </div>
  <hr>
  <h4>CRM professionisti</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Ruolo</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for bim_expert in expert_list.all %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{ bim_expert.name }}</td>
        <td>{{ bim_expert.position }}</td>
        <td><a href="#" class="btn btn-outline-primary btn-sm">Modifica</a></td>
        <td><a href="#" class="btn btn-outline-danger btn-sm">Cancella</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="d-flex gap-2 justify-content-end">
    <a href="#" class="btn btn-outline-primary btn">+ Aggiungi professionista</a>
  </div>
  <hr>
</div>

{% endblock content %}