{% extends 'core/base.html' %}

{% block head_title %}{{ block.super }} - Impostazioni Organizzazione{% endblock head_title %}

{% block navbar %}
<a class="btn btn-outline-primary" href="/">← Torna alla lista progetti</a>
{% endblock navbar %}

{% block content %}
<div class="container text-center">  
  <h1>Impostazioni Organizzazione</h1>
  <hr>
  <a href=# class="btn btn-outline-primary btn-sm">Importa dati organizzazione</a>
  <a href=# class="btn btn-outline-secondary btn-sm">Esporta dati organizzazione</a>
  <hr>

  {% include "organization/organization_settings_partials/_project_phases.html" %}
  
  {% include "organization/organization_settings_partials/_disciplines.html" %}

  {% include "organization/organization_settings_partials/_software.html" %}

  {% include "organization/organization_settings_partials/_lod_references.html" %}

  {% include "organization/organization_settings_partials/_specifications.html" %}

  {% include "organization/organization_settings_partials/_experts.html" %}

</div>
{% endblock content %}
