{% extends 'base.html' %}

{% block head_title %}{{ block.super }} - Impostazioni Organizzazione{% endblock head_title %}

{% block content %}

<div class="container text-center">
  <h1>Impostazioni Organizzazione</h1>
  <hr>
  <h4>Fasi di progetto</h4>
  <p>...</p>
  <hr>
  <h4>Discipline di progetto</h4>
  <p>...</p>
  <hr>
  <h4>Software di Authoring</h4>
  <p>...</p>
  <hr>
  <h4>Schede LOD</h4>
  <p>...</p>
  <hr>
  <h4>Specifiche coordinamento/verifica</h4>
  <p>...</p>
  <hr>
  <h4>CRM professionisti</h4>
  <p>...</p>
  <hr>
</div>

{% endblock content %}