{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} - Crea Progetto{% endblock head_title %}

{% block navbar %}
<a class="btn btn-outline-primary" href="/">← Torna alla lista progetti</a>
{% endblock navbar %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-5">
    <div class="text-center">
      <h1>Nuovo progetto</h1>
      <p class="fs-5">Inserisci i dati del nuovo progetto</p>
    </div>
    <form method="POST" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      {{ form|crispy }}
      <div class="d-grid mt-4">
        <input type="submit" class="btn btn-primary" value="Crea Progetto">
      </div>
    </form>
  </div>
</div>
{% endblock content %}
