{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} - Aggiungi modello{% endblock head_title %}

{% block navbar %}
<a class="btn btn-outline-primary" href="{% url 'manage_project' pk=bimproject.pk %}">← Torna al progetto</a>
{% endblock navbar %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-5">
    <div class="text-center">
      <h1>Nuovo modello</h1>
      <p class="fs-5">Aggiungi modello</p>
    </div>
    <form method="POST" novalidate>
      {% csrf_token %}
      {{ form|crispy }}
      <div class="d-grid mt-4">
        <input type="submit" class="btn btn-primary" value="Aggiungi modello">
      </div>
    </form>
  </div>
</div>
{% endblock content %}
