{% extends 'core/base.html' %}

{% block head_title %}{{ block.super }} - {{report.name}}{% endblock head_title %}

{% block navbar %}
<a class="btn btn-outline-primary" href="{% url 'manage_info_sheet' pk=report.info_sheet.pk %}">← Torna alla Scheda Informativa</a>
{% endblock navbar %}

{% block content %}

<h1 class="mb-5 text-center">{{report.name}}</h1>
<div class="row  mx-auto">

  {% include 'projects/manage_report_partials/_report_data.html' %}

  {% include 'projects/manage_report_partials/_tests_list.html' %}

</div>

{% endblock content %}