{% extends 'core/base.html' %}

{% block head_title %}{{ block.super }} - {{bimmodel.name}}{% endblock head_title %}

{% block navbar %}
<a class="btn btn-outline-primary" href="{% url 'manage_project' pk=bimmodel.bim_project.pk %}">← Torna al progetto</a>
{% endblock navbar %}

{% block content %}
<h1 class="mb-5 text-center">{{bimmodel.name}}</h1>
<div class="row  mx-auto">

  {% include 'projects/manage_bim_model_partials/_model_data.html' %}

  {% include 'projects/manage_bim_model_partials/_info_sheets_list.html' %}

</div>

{% endblock content %}