{% extends 'core/base.html' %}

{% block head_title %}{{ block.super }} - {{infosheet.name}}{% endblock head_title %}

{% block navbar %}
<a class="btn btn-outline-primary" href="{% url 'manage_bim_model' pk=infosheet.bim_model.pk %}">← Torna al modello BIM</a>
{% endblock navbar %}

{% block content %}

<h1 class="mb-5 text-center">Scheda {{infosheet.name}}</h1>
<div class="row  mx-auto">
  {% include 'projects/manage_info_sheet_partials/_info_sheet_data.html' %}

  {% include 'projects/manage_info_sheet_partials/_reports_list.html' %}
  
</div>

{% endblock content %}