{% extends 'core/base.html' %}

{% block head_title %}{{ block.super }} - {{bimproject.name}}{% endblock head_title %}

{% block navbar %}
<a class="btn btn-outline-primary" href="/">← Torna alla lista progetti</a>
{% endblock navbar %}

{% block content %}

<h1 class="mb-5 text-center">{{bimproject.name}}</h1>
<div class="row  mx-auto">

  {% include 'projects/manage_bim_project_partials/_project_data.html' %}

  {% include 'projects/manage_bim_project_partials/_models_list.html' %}

</div>

{% endblock content %}