{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} - Modifica report{% endblock head_title %}

{% block navbar %}
<a class="btn btn-outline-primary" href="{% url 'manage_info_sheet' pk=report.info_sheet.pk %}">← Torna alla scheda informativa</a>
{% endblock navbar %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-5">
    <div class="text-center">
      <h1>Modifica report</h1>
      <p class="fs-5">Inserisci i nuovi dati del report</p>
    </div>
    <form method="POST" novalidate>
      {% csrf_token %}
      {{ form|crispy }}
      <div class="d-grid mt-4">
        <input type="submit" class="btn btn-primary" value="Aggiorna">
      </div>
    </form>
  </div>
</div>
{% endblock content %}
