{% extends 'base.html' %}

{% block head_title %}{{ block.super }} - Cancella Report{% endblock head_title %}

{% block navbar %}
<a class="btn btn-outline-primary" href="{% url 'manage_info_sheet' pk=report.info_sheet.pk %}">← Torna alla scheda informativa</a>
{% endblock navbar %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-5">
    <div class="text-center">
      <h1>Conferma cancellazione</h1>
      <p class="fs-5">Sei sicuro di voler cancellare il report?</p>
    </div>
    <form method="POST" novalidate>
      {% csrf_token %}
      <div class="d-grid mt-4 gap-2">
        <input type="submit" class="btn btn-danger" value="Conferma">
        <a href="{% url 'manage_info_sheet' pk=report.info_sheet.pk %}" class="btn btn-outline-secondary">Annulla</a>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
