<div class="col-md-9">    
  <h4>Modelli di progetto</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrizione</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for model in bimproject.bim_models.all %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>
          <a href="{% url 'manage_bim_model' pk=model.pk%}">{{ model.name }}</a>
        </td>
        <td>{{ model.description }}</td>
        <td>
          <div class="d-flex gap-2 justify-content-end">
            <a href="{% url 'update_model' pk=model.pk %}" class="btn btn-outline-primary btn-sm">Modifica</a>
            <a href="{% url 'delete_model' pk=model.pk %}" class="btn btn-outline-danger btn-sm">Cancella</a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="d-flex gap-2 justify-content-end">      
    <a href="{% url 'create_bim_model' pk=bimproject.pk %}" class="btn btn-outline-primary btn-lg">+ Aggiungi modello</a>
  </div>
</div>

