<div class="col-md-4">
  <h4>Dati report</h4>    
  <h6>nome</h6>
  <p>{{report.name}}</p>    
  <h6>descrizione</h6>
  <p>{{report.description}}</p>
  <h6>specifica</h6>
  <p>{{report.specification.name}}</p>
  <h6>scheda informativa</h6>
  <p>{{report.info_sheet.name}}</p>
  <h6>modello</h6>
  <p>{{report.info_sheet.bim_model.name}}</p>
  <h6>progetto</h6>
  <p>{{report.info_sheet.bim_model.bim_project.name}}</p>
  <hr>
  <div class="d-flex gap-2">
    <a href="{% url 'update_report' pk=report.pk %}" class="flex-fill btn btn-primary btn-lg">Aggiorna dati</a>
    <a href="{% url 'delete_report' pk=report.pk %}" class="flex-fill btn btn-danger btn-lg">Cancella report</a>
  </div>
</div>